html,
body,
.v-application {
  scroll-behavior: smooth;
  background: #000 !important;
  overflow-x: hidden;
}

.sidebar-logo > .spacer {
  display: block;

  > i {
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .spacer {
    display: none;
  }
}

@media (max-width: 600px) {
  .about__secure {
    margin-left: 15px !important;
  }
  .navbar__controls {
    > a,
    img {
      display: none;
    }
  }
  .mouse {
    display: none;
  }
}

#main > video {
  width: 100%;
  height: 101vh;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  object-position: center;
  object-fit: cover;
}

#main {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, .2);
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.header {
  @media (max-width: 768px) {
    height: auto;
  }
  margin-top: -50px !important;
  position: relative;
  z-index: 10;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  background: #000;
  color: #ffffff;

  &__title {
    @media (max-width: 1440px) {
      font-size: 24px;
    }
    @media (max-width: 800px) {
      font-size: 24px;
      text-align: center;
    }
    @media (max-width: 600px) {
      margin-top: 50px;
    }
    text-transform: uppercase;
    font-family: "bruno-ace-sc-regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    margin-top: 120px;

    sub {
      font-weight: 400;
      font-size: 24px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &__subtitle {
    margin-top: 32px;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    @media (max-width: 1440px) {
      font-size: 45px;
    }
    @media (max-width: 800px) {
      font-size: 50px;
      text-align: center;
    }
    @media (max-width: 450px) {
      font-size: 35px;
      text-align: center;
    }
  }

  &__btn {
    margin-top: 64px;
  }

  &__info {
    margin-top: 135px;

    div {
      margin-bottom: 80px;
      @media (max-width: 1440px) {
        margin-bottom: 50px;
      }
    }

    p {
      max-width: 300px;
      font-weight: 300;
      font-size: 24px;
      line-height: 120%;
      margin-left: 25px;
      @media (max-width: 1440px) {
        font-size: 22px;
      }
    }
  }
}

.mouse-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.mouse {
  display: none;
  width: 30px;
  height: 50px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  //margin-bottom: 30px;
  position: absolute;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-40%);
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.5s infinite;
    -webkit-animation: wheel 1.5s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

.about {
  position: relative;
  z-index: 1000;

  &__mission,
  &__secure {
    @media (max-width: 540px) {
      margin-top: 55px;
    }
    margin-top: 200px;
    margin-bottom: 90px;
  }

  &__mission-title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #010d2b;

    p {
      margin-left: 25px;
    }
  }

  &__secure-title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #f9f9f9;
  }

  p {
    margin-left: 25px;
  }

  &__secure {
    margin-left: 64px;

    > .about__mission-item {
      color: #f9f9f9;
      margin-left: 0;
    }
  }

  &__logo-left {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__logo-right {
    @media (max-width: 450px) {
      display: none;
    }
    position: absolute;
    top: 0;
    left: 0;
  }

  .block-left {
    @media (max-width: 600px) {
      padding-left: 15px;
    }
    padding-left: 85px;
  }

  .block-left,
  .block-right {
    position: relative;
  }

  &__mission-item {
    @media (max-width: 414px) {
      margin-left: 10px;
    }
    margin-bottom: 32px;
    margin-left: 15px;

    p {
      @media (max-width: 414px) {
        padding-right: 12px;
        margin-left: 7px;
      }
      max-width: 390px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
    }
  }
}

.portfolio {
  width: 100vw;
  //height: 100vh;
  position: relative;
  padding-top: 95px;
  z-index: 10;
  background: radial-gradient(37.59% 100% at 50% 0%, #015ea5 0%, #101a33 100%);
  color: #ffffff;

  &__title {
    @media (max-width: 414px) {
      font-size: 28px;
    }
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media (max-width: 450px) {
  .swiper {
    max-width: 450px !important;
    overflow: hidden !important;

  }
}

.swiper {
  @media (max-width: 1440px) {
    width: auto;
  }
  overflow: hidden;
  width: 1320px;
  min-height: 614px;
  margin: 0 auto;
  padding-top: 100px !important;
  @media (max-width: 414px) {
    padding-top: 30px !important;
    min-height: 466px;
  }
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #ffffff !important;
  margin-top: 30px;
}

.info-cards {
  padding: 92px 0;
  background: #f9f9f9;

  &__title {
    @media (max-width: 414px) {
      font-size: 28px;
    }
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #010d2b;
    margin-bottom: 64px;
  }

  &__item {
    min-height: 249px;
    width: 315px;
    padding: 32px 28px;
    background: #111b34;
    border-radius: 8px;
    text-align: center;
    // transition: all ease-in-out 0.3s !important;
    &:hover {
      transform: scale(1.1) translateY(-10px) !important;
      background: #233866;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #ffffff;
  }

  &__body {
    gap: 20px;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.prices {
  width: 100vw;
  padding: 92px 0;
  background: radial-gradient(50% 124.86% at 100% 0%, #015ea5 0%, #101a33 100%);
  color: #ffffff;

  &__title {
    @media (max-width: 450px) {
      font-size: 22px;
    }
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 64px;

  }

  &__middle {
    @media (max-width: 450px) {
      font-size: 18px;
    }
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 64px;

    span {
      color: #feca2e;
    }
  }

  .contact {
    gap: 100px;
    margin-bottom: 64px;

    p {
      max-width: 430px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #ffffff;
      @media (max-width: 450px) {
        font-size: 14px;
        text-align: center;
      }
    }

    div {
      width: 250px;
    }

    &__title {
      @media (max-width: 450px) {
        margin-bottom: 30px;
      }
      margin-bottom: 64px;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.name {
  width: min(100%, 400px) !important;
}

.footer {
  width: 100vw;
  padding: 90px 0;
  background: #111b34;
  color: #ffffff;

  &__logo {
    width: 247px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__menu-item {
    > a {
      @media (max-width: 414px) {
        font-size: 12px;
      }
      text-decoration: none;
      color: #ffffff !important;
      margin-left: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__menu-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 32px;
  }

  &__menu-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 25px;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  @media (max-width: 1440px) {
    left: -50px !important;
  }
  @media (max-width: 600px) {
    left: 10px !important;
    display: none !important;
  }
  left: 150px !important;
  color: #ffffff !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-next {
  @media (max-width: 1440px) {
    right: -50px !important;
  }
  @media (max-width: 600px) {
    display: none !important;
  }
  right: 150px !important;
  color: #ffffff !important;
}

.service {
  a {
    margin-left: 0;
  }
}

.go-up {
  @media (max-width: 450px) {
    bottom: 40px;
    right: 40px;
  }
  position: fixed;
  bottom: 80px;
  right: 50px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;
  z-index: 10000;

  &:hover {
    background-color: #ff8f00;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.slide-image {
  @media (max-width: 450px) {
    width: min(100%, 380px);
  }
  width: min(100%, 514px);
  color: #ffffff;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  p {
    max-width: 460px;
  }
}

.partners {
  overflow: hidden;
  background-color: #f9f9f9;
  position: relative;
  min-height: auto !important;
  padding-bottom: 70px;
  width: 100%;

  &__body {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__title {
    @media (max-width: 414px) {
      font-size: 28px;
    }
    text-transform: uppercase;
    color: #010D2B;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    padding-top: 92px;
  }

  &__subtitle {
    @media (max-width: 414px) {
      font-size: 18px;
    }
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #010D2B;
    margin-top: 32px;
    margin-bottom: 50px;
  }
}

.active-lang {
  display: none !important;
}
.swiper-slide {
  @media (max-width: 1440px) {
    justify-content: flex-start;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-images {
  width: 200px;
  @media (max-width: 768px) {
    width: 250px;
  }
  @media (max-width: 414px) {
    width: 200px;
  }

  > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.swiper-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100;
  @media (max-width: 768px) {
    display: none;
  }
}

.swiper-prev {
  cursor: pointer !important;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  @media (max-width: 768px) {
    display: none;
  }
}

.v-menu__content--fixed, .log {
  z-index: 100000 !important;
}
.mobile-logo {
  text-decoration: none;
}
