.main {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    29.13% 78.33% at 0% 100%,
    #015ea5 0%,
    #101a33 100%
  );
  &__title {
    text-transform: uppercase;
    font-family: "bruno-ace-sc-regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    sub {
      font-weight: 400;
      font-size: 24px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
